<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      {% if page.cover == "" %}
        <img id="cover-photo" src="/images/{{ page.cover }}">
      {% else %}
      {% endif %}
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</a>
      {% if page.author == "" %}
      {% elsif page.author == "James" %}
        &mdash; <a href="http://j2labs.io/">James</a>
      {% elsif page.author == "Andrew" %}
        &mdash; <a href="http://www.apgwoz.com/">Andrew</a>
      {% elsif page.author == "Siraaj" %}
        &mdash; <a href="https://github.com/ibnfirnas">Siraaj</a>
      {% elsif page.author == "Malcolm" %}
        &mdash; <a href=""></a>
      {% elsif page.author == "Alex" %}
        &mdash; <a href="http://www.nullspace.io">Alex</a>
      {% endif %}
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
    </p>
  </div>
</div>
